#login-dropdown-list a {
    text-transform: lowercase;
}
.footerBackground{
    background:#363636;
}

.footerBackground .onlineColor{
    color : white;
}

.footerBackground .mocksColor{
    color: #A6E22E;
}

.left_menu .dropdown-menu {
    background: #363636;
    padding: 5px 0 10px;
}
        .left_menu .dropdown-menu i {
            position: relative;
            left: -5px;
        }
        .dropdown-submenu > a:after {
            right: 10px;
            top: 5px;
        }
        
        .email_techsupport:hover:before{content:"tech.omk@gmail.com";}
        .email_techsupport:hover span{display: none;}
        .email_techsupport span{ -webkit-transition: 0.6s;
            -moz-transition: 0.6s;
            -o-transition: 0.6s;
            transition: 0.6s;
            -webkit-transition-delay: 0.2s;
            -moz-transition-delay: 0.2s;
            -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }
    
        .email_techsupport:before {
            content: attr(data-hover);
            -webkit-transform: translate(-150%,0);
            -moz-transform: translate(-150%,0);
            -ms-transform: translate(-150%,0);
            -o-transform: translate(-150%,0);
            transform: translate(-150%,0);
        }



       

        .page-container {
            margin-top: 0px !important;
        }
        .rd-body {
            background-color: #e7ecef !important;
        }
        .rd-content {
            border-radius: 10px;
        }
        .rd-row-list {
            margin-top: 30px;
        }
        .rd-tree-row {
            text-align: center;
            margin-bottom: 40px;
        }
        .rd-icon-span {
            display: inline-block;
            width: 130px;
            padding-top: inherit;
        }
        .rd-icon {
            font-size: 120px;
            color: #eeeeee;
        }
        .rd-title-icon {
            margin-top: 20px;
            font-size: 120px;
            color: #eeeeee;
        }
        .rd-title {
            font-size: 40px;
            text-align: center;
        }
        .rd-tree-bottom {
            padding-top: 50px;
            height: 100px;
        }
        .rd-border-box {
            border: 2px solid #dadada;
            border-radius: 10px;
            margin: 0 0 40px;
            padding: 30px;
            margin-top: 20px;
            background-color: white;
        }
        .rd-activity-box {
            border: 2px solid #dadada;
            border-radius: 10px;
            margin: 0 0 10px;
            padding: 5px;
            margin-top: 0;
            background-color: white;
        }
        .rd-stars-icon {
            font-size: 20px;
        }
        .rd-icon-gold {
            color: #E87E04;
        }
        .rd-settings-btn {
            width: 50px;
            height: 50px;
            font-size: 25px;
        }
        .rd-activity-row {
            text-align: center;
            /*padding-top: 70px;*/
        }
        .rd-activity-span {
            display: inline-block;
            width: 200px;
            padding-top: inherit;
            margin: 25px;
        }
        .rd-option-label > p {
            margin-top: 0;
        }
        .rd-logged-out {
            background: black;
        }
        @media only screen and (max-width: 1450px) {
            .rd-icon-span {
                display: inline-block;
                width: 90px;
                padding-top: inherit;
            }
            .rd-icon {
                font-size: 70px;
                color: #eeeeee;
            }
            .rd-stars-icon {
                font-size: 15px;
            }
        }
        @media only screen and (max-width: 650px) {
           .welcome_message_wrapper .vertical-align-center{
            position: absolute; top:42px; bottom: 30px; display: block; height: calc(100% - 38px); margin: 0;
            overflow-y:hidden}
           .welcome_message_wrapper .modal-content{width:100%;}
           .page-footer{z-index: 999999;}
           .modal .modal-header .close{display: none;}
        }

    
        .rd-border-box {
            animation-duration: 0.2s;
            animation-name: bounceIn;
            animation-timing-function: ease;
        }
        @keyframes bounceIn {
            0% {
                transform: scale(0.7);
            }
            100% {
                transform: scale(1);
            }
}

.modal-header{
    border-bottom: 1px solid #f2f2f2!important;
    padding: 10px 15px;
    background: #eee;
    text-align: center;
}

.modalHeadText{
    font-size: 20px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    color: rgba(0,0,0,.75);
    position: relative;
    display: inline-block;
    text-align: center;
}
