.popover-content {
    height: 500px;
    overflow-y: scroll;
}

.right p:nth-child(4) {
    display: block!important;
}

.admin_quetion_wrap {
    padding: 0 15px;
}

.portlet>.portlet-title>.tools {
    color: #444!important;
}

.page-footer.admin1 {
    position: relative;
    margin-top: 30px;
}

.error {
    border: 1px solid red;
}

.success {
    border: 1px solid green;
}
#widthHeight {
  display:none;
}

.question_lists table tr, .question_lists table tr td {
    border:1px solid;
}